.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
Linked_list/Singly_linked_list/main.exe
Linked_list/Singly_linked_list/a.out
Linked_list/Singly_linked_list/main.cpp
stack/a.out
stack/main.cpp
